<!DOCTYPE html>
<html>
<title>Shopping made Simple</title>


<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link href="main.css" rel="stylesheet" text="text/css">
</head>


<body>
  <!-- Title -->
  <header>

    <div class="titleHeading">
      <h1>Shopping List</h1>
      <h4>The ʇsǝq shopping list</h4>
      <hr>
    </div>

  </header>
  <br><br>


  <!-- The list -->
  <div class="container">
    <div class="row">

      <div class="col-6">
        <ul>
          {{#each item}}
          <form id={{id}} action="/check" method="post">
            <li>
              <input type="checkbox" name="{{id}}" onchange="document.getElementById({{id}}).submit()">
              {{title}}
            </li>
          </form>
          {{/each}}
        </ul>

        <form class="form" action="/app" method="post">
          <input class="addItemInput" type="text" name="title">
          <input type="submit" value="Add item" class="addButton">
        </form>

      </div>

    </div>
  </div>

  <hr>

  <!-- the footer -->
  <div class="video">
    <h1>Here's our story:</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/K6HfG1GzeKY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </div>


</body>