<html>
  <head>
  
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

  </head>
{{!-- 
  <header>
    <h1>doodoo list</h1>
  </header> --}}

<body>
  
  <div class="container">
    <ul>
      {{#each item}}
      <form id={{id}} action="/check" method="post">
          <li>{{title}}
            <input type="checkbox" name="{{id}}" onchange="document.getElementById({{id}}).submit()">
          </li>
        </form>
      {{/each}}
    </ul>
  </div>

</body>
  
  <form class="form" action="/app" method="post">
  <input type="text" name="title">
  <input type="submit" value="Add item">
  </form>

</html>