<html>
  <head>
  
  </head>

  <header>
  
  </header>

  <ul>
    {{#each item}}
    <form id={{id}} action="/check" method="post">
        <li>{{title}}
          <input type="checkbox" name="{{id}}" onchange="document.getElementById({{id}}).submit()">
        </li>
      </form>
    {{/each}}
  </ul>
  
  <form class="form" action="/app" method="post">
  <input type="text" name="title">
  <input type="submit" value="Add item">
  </form>

</html>